$BRAND: 'Cormorant Garamond', serif;
$MAIN_FONT: 'Lato', sans-serif;
$MAIN_FONT_SIZE: 1.25rem;
$FONT_COLOR: #F04B4B;

body, html {
    height: 100%;
    width: 100%;
    padding-top:45px;
    font-family: $MAIN_FONT;
    size: $MAIN_FONT_SIZE;
}

.container {
    height: 400px;
    margin-bottom: 2rem;
}

#messages > .row {
    min-height:100px;
}

.card {
    height: 100%;
}

/* NAVBAR STYLES */
.navbar {
    >.navbar-brand {
        font-family: $BRAND;
        font-size: 2rem;
        color: $FONT_COLOR;
        &:hover {
            color: $FONT_COLOR;
        }
    }
    a {
        color: #D28779;
        font-size: 1.5rem;
    }
}
.navbar-light {
        background-color: #DED798;
}
