body, html {
  height: 100%;
  width: 100%;
  padding-top: 45px;
  font-family: "Lato", sans-serif;
  size: 1.25rem; }

.container {
  height: 400px;
  margin-bottom: 2rem; }

#messages > .row {
  min-height: 100px; }

.card {
  height: 100%; }

/* NAVBAR STYLES */
.navbar > .navbar-brand {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  color: red; }
  .navbar > .navbar-brand:hover {
    color: red; }
