{% extends 'base.html' %}

{% block title %}{{ super() }} - Register{% endblock%}

{% block hero %}{% endblock %}

{% block content %}
<div class="container">
    {% include 'macros/_flashmessages.html' %}
    <div class="row">
        <div class="col-md-8">
            <h3>Register</h3>
            {% from "macros/_formhelpers.html" import render_field %}
            <form method="post" action="{{ url_for('auth.register')}}" role="form" novalidate>
                {{ form.hidden_tag() }}
                {{ render_field(form.username, class='form-control') }}
                {{ render_field(form.handle, class='form-control') }}
                {{ render_field(form.password, class='form-control') }}
                {{ render_field(form.password2, class='form-control') }}
                <input type="submit" class="btn btn-primary"  value="Register" />
            </form>
        </div>
        <div class="col-md-8">
            x
        </div>
    </div>
</div>

{% endblock %}
