{% extends 'base.html' %}

{% block title %}{{ super() }} - Welcome{% endblock%}

{% block modal %}
  {% include 'partials/_login_modal.html' %}
{% endblock %}

{% block content %}
<div class="container">
        {% include 'macros/_flashmessages.html' %}
    <div class="row">
        <div class="col-md-8">
            {% if books %}
              {% include 'partials/_link_list.html' %}
            {% else %}
              <p>There are no books</p>
            {% endif %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}
